<!Doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        {% block contents %}
            
        {% endblock %}

        {% block script %}
        {% endblock %}
    </body>
</html>